.form-signin {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 1200px;
    height: 1150px;
    padding: 2rem;
    margin: auto;
    margin-top: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

button {
    margin-top: 10px;
}

.card-text {
    text-align: center;
}